.card-desc {
  margin-top: 12px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 }

.card-title {
  font-size: 16px;
    letter-spacing: -0.02px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    line-height: 1.5;
    font-weight: normal;
}

.card-price {
  font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px; 

  
}

.card-content {
  color: #868e96;
  font-size: 13px;
  margin-top: 12px;
}

.card-img {
   height: 212px;
  width: 212px;
  border-radius: 12px;  
  
}

.card-link {
  text-decoration: none;
  color: #212529;
}

.card-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}

.card-wrap{
  width: calc(25% - 44px);
    margin-right: 44px;
    margin-bottom: 56px;
}

.card-wrap {
  width: 980px;
  margin: 0 auto;
}


.margin-bottom {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.card-top {
  margin-right: 44px;
  margin-bottom: 56px;
}

.button-add {
  float: right;
  width: 100px;
  margin-left: 8px;
  display: black;
  appearance: none;
  padding: 12px 16px;
  border-radius: 6px;
  
  border: solid 1px #e9ecef;
  box-sizing: border-box;
  font-size: 17px;
  letter-spacing: -0.6px;
  text-align: left;
  background: black;
}

.detail-container {
  margin-top: 94px;
    padding-bottom: 0;
    position: relative;
    width: 729px;
    margin: 0 auto;
}

.detail-img {
  width: 100%;
  position: relative;
  width: 729px;
  margin: 0 auto;
}

.detail-profile {
  width: 677px;
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-profile-link {
  text-decoration: none;
    display: block;
    margin-top: 25px;
    padding-bottom: 23px;
    position: relative;
    border-bottom: 1px solid #e9ecef;
}

.detail-content {
  adding: 32px 0;
    width: 677px;
    margin: 0 auto;
    border-bottom: 1px solid #e9ecef;
}