:root {
  --my-var: 0%;
}

.progress {
  margin: 0 auto;
  background: Rgb(217, 217, 217);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: left;
  position: relative;
  display: flex;
  height: 10px;
  width: 550px;
}

/*온도에 따라서 */
.progress-value {
  animation: load 1.5s normal forwards;
  border-radius: 100px;
  background: #76c545;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: var(--my-var);
  }
}
